@mixin cards-styles {
    display: flex;
    align-items: center;
    width: 31.5rem;
    height: 3.8rem;
    margin-bottom: 1rem;
    & div {
        width: 1.3rem;
        height: 1rem;
    }
    & img {
        margin: 0.875rem 0 0.875rem 0.7rem;
        //width: 1.3rem;
        //height: 1.28rem;
    }
    p {
        margin-left: 2.4rem;
        //font-size: 1.3rem;
    }
}
@mixin cards-styles-opinion {
    margin-right: 2.2em;
    width: 23.7rem;
    height: 16.4rem;
    &--title {
        padding: 3.1rem 0 2rem 2.4rem;

        &-text {
            margin-left: 1.9rem;
            //font-size: 1.4rem;
        }

    }
    &--opinion {
        width: 87%;
    }
}
.pattern-top {
    display: none;
}
.pattern-top-desktop {
    position: absolute;
    top: 0;
    display: block;
}
.title {
    margin: 6.3rem 0 2rem 10rem;
    width: 25rem;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: left;
}
.description {
    margin: 0 0 0 10rem;
    width: 28rem;
    //font-size: 1.4rem;
    line-height: 1.4;
    text-align: left;
}
.rated-section {
    position: absolute;
    top: 10.5rem;
    right: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50rem;
    max-width: 87.5rem;
    &__card--1 {
        @include cards-styles();
        margin-right: 7.2rem;
    } 
    &__card--2 {
        @include cards-styles();
        margin-right: 3.6rem;
    }
    &__card--3 {
        @include cards-styles();
    }
}
.opinion-section {
    position: absolute;
    top: 29rem;
    left: 10rem;
    display: flex;
    margin: 0;
    //width: 90rem;
    max-width: 2000px;
    &__card {
        @include cards-styles-opinion();
    }
    .card-2 {
        margin-top: 1.2rem;
    }
    .card-3 {
        margin-top: 2.4rem;
    }

}
.pattern-bottom {
    display: none;
}
.pattern-bottom-desktop {
    display: block;
    position: absolute;
    right: 0;
    bottom: -22%;
}
.attribution {
    position: absolute;
    bottom: -22%;
    left: 26%;
    margin: 0;
}

