@mixin cards-styles {
    display: flex;
    align-items: center;
    width: 35rem;
    height: 4.3rem;
    & div {
        width: 2rem;
        height: 1rem;
    }
    & img {
        margin: 0.875rem 0 0.875rem 0.7rem;
        width: 1.3rem;
        height: 1.28rem;
    }
    p {
        margin-left: 2.4rem;
        font-size: 1.3rem;
    }
}
@mixin cards-styles-opinion {
    margin-right: 2.5em;
    width: 29rem;
    height: 18.5rem;
    &--title {
        padding: 3.1rem 0 2rem 2.4rem;
        & img {
            width: 3.3rem;
        }
        &-text {
            margin-left: 1.9rem;
            font-size: 1.4rem;
        }
        &-name {
            font-size: 1.45rem;
        }
        &-verified {
            font-size: 1.36rem;
        }
    }
    &--opinion {
        font-size: 1.28rem;
    }
}
.pattern-top {
    display: none;
}
.pattern-top-desktop {
    position: absolute;
    top: 0;
    display: block;
}
.title {
    margin: 6.3rem 0 2rem 18rem;
    width: 26.8rem;
    font-size: 4.2rem;
    text-align: left;
}
.description {
    margin: 0 0 0 18rem;
    width: 35rem;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: left;
}
.rated-section {
    position: absolute;
    top: 11rem;
    right: 18rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50rem;
    max-width: 87.5rem;
    &__card--1 {
        @include cards-styles();
        margin-right: 7.2rem;
    } 
    &__card--2 {
        @include cards-styles();
        margin-right: 3.6rem;
    }
    &__card--3 {
        @include cards-styles();
    }
}
.opinion-section {
    position: absolute;
    top: 34rem;
    left: 18rem;
    display: flex;
    margin: 0;
    width: 90rem;
    max-width: 2000px;
    &__card {
        @include cards-styles-opinion();
    }
    .card-2 {
        margin-top: 1.2rem;
    }
    .card-3 {
        margin-top: 2.4rem;
    }
}
.pattern-bottom {
    display: none;
}
.pattern-bottom-desktop {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0%;
}
.attribution {
    position: absolute;
    bottom: 0;
    left: 26%;
    margin: 0;
}

